form.profile-update-reminder-form-settings,
form#profile-update-reminder-form-settings {
  padding: 10px;
  margin: 10px 0;
  background: #f3f3f3;
  border-radius: 2px;
  text-align: center;
}
form.profile-update-reminder-form-settings .form-item,
form#profile-update-reminder-form-settings .form-item,
form.profile-update-reminder-form-settings .form-actions,
form#profile-update-reminder-form-settings .form-actions {
  padding: 0;
  margin: 0;
}
form.profile-update-reminder-form-settings p,
form#profile-update-reminder-form-settings p {
  display: inline-block;
  padding: 0;
  margin: 0 0 6px 0;
  font-size: 14px;
  line-height: 16px;
}
form.profile-update-reminder-form-settings input[type="submit"],
form#profile-update-reminder-form-settings input[type="submit"] {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  margin: 5px 3px;
  line-height: 1;
  font-size: 12px;
  color: #0a0a0a;
  background: #eee;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.profile-update-reminder-form-settings input[type="submit"].profile-update-link,
form#profile-update-reminder-form-settings input[type="submit"].profile-update-link {
  color: #fff;
  background: #2148cf;
}
form.profile-update-reminder-form-settings input[type="submit"].delay-reminder,
form#profile-update-reminder-form-settings input[type="submit"].delay-reminder {
  color: #fff;
  background: #52bc6b;
}
form.profile-update-reminder-form-settings input[type="submit"].ignore-reminder,
form#profile-update-reminder-form-settings input[type="submit"].ignore-reminder {
  color: #fff;
  background: #b60000;
}
