@import 'variables';

form.profile-update-reminder-form-settings, form#profile-update-reminder-form-settings {
  padding: 10px;
  margin: 10px 0;
  background: #f3f3f3;
  border-radius: 2px;
  text-align: center;

  .form-item, .form-actions {
    padding: 0;
    margin: 0;
  }

  p {
    display: inline-block;
    padding: 0;
    margin: 0 0 6px 0;
    font-size: 14px;
    line-height: 16px;
  }

  input[type="submit"] {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    margin: 5px 3px;
    line-height: 1;
    font-size: 12px;
    color: @color-dark;
    background: #eee;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.profile-update-link {
      color: #fff;
      background: @color-blue;
    }

    &.delay-reminder {
      color: #fff;
      background: @color-green;
    }

    &.ignore-reminder {
      color: #fff;
      background: @color-red;
    }
  }

}
